:root {
    --primaryColor: #f9a524;
    --secondaryColor: #fff;
    --border-radius: 4px;
    --primaryTextColor: var(--primaryColor);
    --primaryBGColor: var(--primaryColor);
    --secondaryTextColor: var(--secondaryColor);
    --secondaryBGColor: var(--secondaryColor);
}
